
{% extends 'base.html' %}

{% block encabezado %}
<h1> Busqueda de Jugadores por nombre </h1>
{% endblock %}

  {% block contenido %}

  <!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  {# Cargamos la librería #}
  {% load bootstrap4 %}

  {# CSS Bootstrap #}
  {% bootstrap_css %}
</head>

<body>
    <main class="main">
        <div class="container">
           <div class="inner">
              <div class="inner__headings">
                 <h3 class="inner__head">Buscador de jugadores de la <span class="inner__clr">NBA</span></h3>

                 <form style="margin-top:60px;" id="formulario" method="post" action=''>{% csrf_token %}
                    {{formulario}}
                    <input type='submit' value='Realizar Busqueda'/>
                </form>
              </div> 
                   
           </div>
           <div class="cards-grid">

				{% for row in jugador %}
            
              <div class="card">
                <div class="card__body">
                    <h4 class="card__head"><strong><center>{{row.nombreJugador}}</center></strong></h4><hr>
                    <img style="margin-bottom: 20px; width: 40%;" class="card_icon" src= {{row.imagenJugador}}>
                    <p class="card__content"><strong>Posición: </strong>{{row.posicionJugador}}</p> 
                    <p class="card__content"><strong>Equipo:</strong> {{row.nombreEquipo}}</p>
                    <p class="card__content"><strong>Salario:</strong> {{row.salarioNumero}} $</p><hr>
                    <h4 class="card__head"><strong><center>Estadísticas</center></strong></h4><hr>
                    
                    <table class="table" >
                     <thead class="table-active">
                     <tr style="font-size:14px;">
                         <th scope="col">PPP</th>
                         <th scope="col">APP</th>
                         <th scope="col">RPP</th>
                         <th scope="col">PER</th>
                         {% if user.is_authenticated %}
                        <th scope="col">Similares</th>
                        <th scope="col">Votaciones(1-5)</th>
                        {% endif %}
                         
                     </tr>
                     </thead>
                     <tbody class="table-bordered">
                     <tr style="font-size:16px;">
                         <td>{{row.puntosPorPartido}}</td>
                         <td>{{row.asistenciasPorPartido}}</td>
                         <td>{{row.rebotesPorPartido}}</td>
                         <td>{{row.per}}</td>
                         {% if user.is_authenticated %}
                        <td scope="col">    
                              <a class="nav-link" href="/similarPlayers?id={{row.id}}">Similares</a>
                        </td>
                        <td scope="col">    
                              
                              <form  id="formpuntuacion" name="formpuntuacion" method="POST" data-post-url="../nuevapuntuacion/"  >

                                 {% csrf_token %} 
                                 <input type="hidden" id="usuario" name="usuario" value={{user.id}}>
                                 <input type="hidden" id="jugador" name="jugador" value={{row.id}}>
                                 <input class="form-control" type="number" id="valor{{row.id}}"  name="valor" placeholder="Puntuación 1-5"  /> 
                                 <button onclick="crearVoto(this)" type="button" id="submit" class="btn btn-primary">Procesar</button>
                                 
                              </form>    
               
                              
                           {% endif %}
                         
                         
                     </tr>
                     </tbody>
                 </table>
                 </div>
              </div>
              {% endfor %}
              
           </div>
        </div>
     </main>
     </body>
     <script>
   
     
      function crearVoto(e) {
          console.log(e.parentNode)
          var formData = new FormData(e.parentNode);
          
            $.ajax({
                type: 'POST',
                url: "../nuevapuntuacion/",
                data: formData,
                cache: false,
                processData: false,
                contentType: false,
                enctype: 'multipart/form-data',
                success: function (){
                    alert('Su votación se ha procesado correctamente!')
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ":" + xhr.responseText)
                }
            })
        }
   </script>
			
  {% endblock %}
