
{% extends 'base.html' %}

{% block encabezado %}
<h1> Peliculas </h1>
{% endblock %}

  {% block contenido %}
<body>
    <main class="main">
        <div class="container">
            <div class="inner__headings">
            <h3 class="inner__head">Jugadores Lideres de la <span class="inner__clr">NBA</span></h3>
            
            <form style="margin-top:40px;" id="formulario" method="post" action=''>{% csrf_token %}
               {{formulario}}
               <input type='submit' value='Realizar Busqueda'/>
            </form>

            </div>

            <table class="table" >
                <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Posición</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">PPP</th>
                    <th scope="col">PER</th>
                    <th scope="col">Similares</th>

                </tr>
                </thead>
                <tbody>
                {% for row in jugador %}
                <tr>
                    <th><img src = {{row.imagenJugador}} style="width: 75px;"/></th>
                    <th>{{row.nombreJugador}}</th>
                    <td>{{row.posicionJugador}}</td>
                    <td>{{row.nombreEquipo}}</td>
                    <td>{{row.puntosPorPartido}}</td>
                    <td>{{row.per}}</td>
                    <td scope="col">    
                        <a class="nav-link" href="/similarPlayers?id={{row.id}}">Similares</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if jugador.has_other_pages %}
            <ul class="pagination">
                {% if jugador.has_previous %}
                <li><a href="?page={{ jugador.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in jugador.paginator.page_range %}
                {% if jugador.number == i %}
                    <li style="margin-right: 5px; margin-left: 5px;" class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li style="margin-right: 5px; margin-left: 5px;"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if jugador.has_next %}
                <li ><a  href="?page={{ jugador.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
            </div>
        </main>
        </body>  
			
  {% endblock %}
