{% extends 'base.html' %}

{% block encabezado %}
<h1> Busqueda de Peliculas por Generos </h1>
{% endblock %}

{% block contenido %}
<body>
    <main class="main">
        <div class="container">
           <div class="inner">
              <div class="inner__headings">
                 <h3 class="inner__head">Búsqueda Jugadores G-League por <span class="inner__clr">Posición</span></h3>
              </div>

    	<form style="margin-top:40px;" id="formulario" method="post" action=''>{% csrf_token %}
    		{{formulario}}
    		<input type='submit' value='Realizar Busqueda'/>
    	</form>
	    
	    <hr>
		<table class="table" >
			<thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Posición</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Salario</th>
                    <th scope="col">PPP</th>
                    <th scope="col">APP</th>
                    <th scope="col">RBB</th>
                </tr>
                </thead>
			<tbody>

            {% for row in jugadoress %}
                <tr>
                    <th><img src = {{row.imagenJugador}} style="width: 75px;"/></th>
                    <th>{{row.nombreJugador}}</th>
                    <td>{{row.posicionJugador}}</td>
                    <td>{{row.nombreEquipo}}</td>
                    <td>{{row.salarioNumero}} $</td>
                    <td>{{row.puntosPorPartido}}</td>
                    <td>{{row.asistenciasPorPartido}}</td>
                    <td>{{row.rebotesPorPartido}}</td>
                </tr>
			{% endfor %}
			
            </tbody>
        </table>
        <div class="container">
            <div class="inner">
               <div class="inner__headings">
                <h3 class="inner__head">¿Qué es la <span class="inner__clr">G-League</span>?</h3>
                <img style="width:50%;" src="https://static-cdn.jtvnw.net/jtv_user_pictures/945b555de6e5f880-profile_banner-480.png"/>
        </div>
        </div>
        </div>
        </main> 
        </body>       
        {% endblock %}
