
{% extends 'base.html' %}

{% block encabezado %}
<h1> Drafteados </h1>
{% endblock %}

  {% block contenido %}
  <body>
    <main class="main">
        <div class="container">
            <div class="inner__headings">
            <h3 class="inner__head">Posibles Jugadores Drafteados <span class="inner__clr">2020/2021</span></h3>
            {% if request.user.is_staff or es_admin %}
            <a class="py-2 d-none d-md-inline-block" style="font-size:18px" href='/carga_drafteados'>Actualizar datos sobre los jugadores (este proceso puede ser lento)</a>
            {% endif %}
            </div>
  
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Pick de proyección</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Posición</th>
                    <th scope="col">Universidad</th>
                </tr>
                </thead>
                <tbody>
                {% for row in drafteados %}
                <tr>
                    <th>{{row.pickJugador}}</th>
                    <td>{{row.nombreJugador}}</td>
                    <td>{{row.posicionJugador}}</td>
                    <td>{{row.universidad}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if drafteados.has_other_pages %}
            <ul class="pagination">
                {% if drafteados.has_previous %}
                <li><a href="?page={{ drafteados.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in drafteados.paginator.page_range %}
                {% if drafteados.number == i %}
                    <li style="margin-right: 5px; margin-left: 5px;" class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li style="margin-right: 5px; margin-left: 5px;"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if drafteados.has_next %}
                <li ><a  href="?page={{ drafteados.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
  </div>

  </main>
  </body>
  {% endblock %}
