
{% extends 'base.html' %}

{% block encabezado %}
<h1> Peliculas </h1>
{% endblock %}

  {% block contenido %}

  <!DOCTYPE html>
<html lang='es'>
<head>
  <meta charset='utf-8'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  {# Cargamos la librería #}
  {% load bootstrap4 %}

{# CSS Bootstrap #}
{% bootstrap_css %}
</head>

<body>
    <main class="main">
        <div class="container">
           <div class="inner">
              <div class="inner__headings">
                 <h3 class="inner__head">Equipos de la NBA Temporada <span class="inner__clr">2020/2021</span></h3>
                 {% if request.user.is_staff or es_admin %}
                 <a class="py-2 d-none d-md-inline-block" style="font-size:18px" href='/carga_equipos'>Actualizar datos sobre los equipos (este proceso puede ser lento)</a>
                 {% endif %}
              </div>
              
           </div>
           <div class="cards-grid">

				{% for row in equipos %}
            
              <div class="card">
                 <img class_="card-icon" src = {{row.logoEquipo}} style="width: 100px; margin-left: 40%;"/>
                 <div class="card__body">
                    <h4 class="card__head" style="font-size: 22px;"><center><strong>{{row.nombreEquipo}}</strong></center></h4><hr>
                    <p class="card__content"><strong>Próximo partido: </strong>{{row.nombreEquipo}} {{row.proxPartido}}</p>
                    <p class="card__content"><strong>Ranking: </strong>{{row.ranking}}</p><hr>
                    <p class="card__content"><strong>Estadísticas 2020/2021: </strong>{{row.estadisticas}}</p><hr>
                   
                    <p class="card__content"><strong>Lesionados: </strong>{{row.lesionados}}<p><hr>
                    <p class="card__content"><strong>Plantilla: </strong>{{row.listaJugadores}}</p><hr>
                    <p class="card__content"><strong>Salario total: </strong>{{row.sumaSalarios}} €</p><hr>
                 </div>
              </div>
              {% endfor %}
              
           </div>
        </div>
     </main>
			
  {% endblock %}
