
{% extends 'base.html' %}

{% block encabezado %}
<h1> Peliculas </h1>
{% endblock %}

  {% block contenido %}
<body>
    <main class="main">
        <div class="container">
            <div class="inner__headings">
            <h3 class="inner__head">Jugadores de la NBA Temporada <span class="inner__clr">2020/2021</span></h3>
            {% if request.user.is_staff or es_admin %}
            <a class="py-2 d-none d-md-inline-block" style="font-size:18px" href='/carga_jugadores'>Actualizar datos sobre los jugadores (este proceso puede ser lento)</a>
            {% endif %}
            <h3 class="inner__head">{{mensaje}} </h3>
            </div>


            <table class="table" >
                <thead class="thead-dark">
                <tr>
                    
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Posición</th>
                    <th scope="col">Equipo</th>
                    <th scope="col">Salario</th>
                    <th scope="col">PPP</th>
                    <th scope="col">APP</th>
                    <th scope="col">RBB</th>
                    <th scope="col">PER</th>
                    <th scope="col">Similares</th>
                </tr>
                </thead>
                <tbody>
                {% for row in jugadores %}
                <tr>
                    
                    <th><img src = {{row.imagenJugador}} style="width: 75px;"/></th>
                    <th>{{row.nombreJugador}}</th>
                    <td>{{row.posicionJugador}}</td>
                    <td>{{row.nombreEquipo}}</td>
                    <td>{{row.salarioNumero}} $</td>
                    <td>{{row.puntosPorPartido}}</td>
                    <td>{{row.asistenciasPorPartido}}</td>
                    <td>{{row.rebotesPorPartido}}</td>
                    <td><strong>{{row.per|floatformat:2}}</strong></td>
                    <td scope="col">    
                        {% if user.is_authenticated %}
                        <form id="formpuntuacion" name="formpuntuacion" method="POST" data-post-url="../nuevapuntuacion/">

                            {% csrf_token %} 
                        
                            
                            <input type="hidden" name="usuario" value={{user.id}}>
                            <input type="hidden" name="jugador" value={{row.id}}>
                            
                            <input type="number" min="1" max="5" name="valor" placeholder="Nota"  onchange="createRating(this)"/>  
                                  
                            
                        </form>    
                        <script>
   
                            function nuevo(val) {
                            var form = $('formpuntuacion'),
                            fd = new FormData(form);
                         
                            $.ajax({
                               url: '../nuevapuntuacion/',
                               method ="POST",
                               contentType: false,                    
                               data: fd,
                               processData: false,
                               success: function (data) {
                                    console.log(data);
                                },
                            });
                         </script>
                        
                          
                        {% endif %}
                    </td>
                    <td>
                        <section class="block remove-top" id="contact-us" style="display: none;">
                            <form method="post" action="" name="contactform" id="contactform">
                            <div class="row">
                            <input name="FirstName" type="text" id="FirstName"/>
                            <input type="submit" class="submit" id="btnSubmit" value="Submit" />
                            </form>
                        </section>

                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>

            {% if jugadores.has_other_pages %}
            <ul class="pagination">
                {% if jugadores.has_previous %}
                <li><a href="?page={{ jugadores.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in jugadores.paginator.page_range %}
                {% if jugadores.number == i %}
                    <li style="margin-right: 5px; margin-left: 5px;" class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                    <li style="margin-right: 5px; margin-left: 5px;"><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}
                {% if jugadores.has_next %}
                <li ><a  href="?page={{ jugadores.next_page_number }}">&raquo;</a></li>
                {% else %}
                <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
            {% endif %}
            </div>
        </main>
        </body>  
        
        
        
			
  {% endblock %}
