{% extends 'base.html' %}
{% block title %} - Ratings{% endblock %}
{% block encabezado %}
<h1> Ropa valorada </h1>
{% endblock %}
{% block contenido %}


		    <h3> Jugadores valoradas:  {{ ropa|length }}</h3>
			
			<table class="table" >
                <thead class="thead-dark">
                
                </thead>
                <tbody>
                {% for row in ropa %}
                <th>
                    
                    <th>{{row.nombreJugador}}</th>
        
                    
                </th>
				{% endfor %}
				<tr>
				{% for row in nota %}
                <th>
                    
                    <td>{{row}}</td>
                 
                    
                </th>
				{% endfor %}
				</tr>
                </tbody>
            </table>


		
	</div>
{% endblock %}
